
.banner1 {
	background-image: url('./assets/banner1.jpg');
	width: 200px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner2 {
	background-image: url('./assets/banner2.jpg');
	width: 200px;
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner3 {
	background-image: url('./assets/banner3.jpg');
	width: 250px;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
}

#carousel {
	width: 550px;
	height: 150px;
}

.carousel__main-container {
	overflow: hidden;
	position: relative;
}


.display-arrow-on-hover .carousel__next-arrow, .display-arrow-on-hover .carousel__prev-arrow {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.display-arrow-on-hover:hover .carousel__next-arrow, .display-arrow-on-hover:hover .carousel__prev-arrow {
   opacity: 1;
}

.carousel__slide-container {
	width: 100%;
	height: 100%;
	left: 0;
	position: relative;
}

.carousel__slide {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: absolute;
    top: 0;
}

.carousel__slide--blur {
    opacity: 0.4;
}

.carousel__slide img {
	width: 100%;
	background-size: cover;
}

.carousel__slide--center-mode {
	width: 70%;
	margin: 0 0%;
}

.carousel__slide--center {
	width: 70%;
}

.carousel__prev-arrow, .carousel__next-arrow {
	width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    background: rgba(255,255,255,0.5);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.carousel__prev-arrow {
	left: 5px;
}

.carousel__next-arrow {
	right: 5px;
}

.carousel__arrow-icon {
    font-size: 21px;
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel__dot-container {
    height: 12%;
    bottom: 12%;
    position: relative;
    text-align: center;
    display: block;
}

.carousel__dot {
    margin: 0 1%;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 100%;
    transition: opacity 200ms ease;
    background: rgba(255,255,255,.8);
    box-shadow: 0 0 2px 2px rgba(0,0,0,.15);
    position: relative;
    cursor: pointer;
}

.carousel__dot--active {
	background: #ff5722;
	opacity: 1;
}
